__debug_bin
.DS_Store
go/controllers/gongsvgapi.yml
gongsvg.exe
go/tests/debug.test
go/cmd/gongsvg/gongsvg
go/cmd/gongsvg/__debug_bin.exe
go/cmd/colorgrid/__debug_bin.exe
go/cmd/gongsvg/test.db
go/cmd/gongsvg/__debug_bin*
go/cmd/colorgrid/__debug_bin*
go/cmd/gongsvg/rectangle_out.go

